# Exclude everything
**

# Except package dir, run.py, poetry files, and README
!pyproject.toml
!run.py
!manifest.json
!fw_gear_file_classifier
!README.md
!requirements.txt


# Re-ignore pycache which might be inside package dir
**/__pycache__
