[submodule "fw_gear_file_classifier/classification-profiles"]
	path = fw_gear_file_classifier/classification-profiles
	url = https://gitlab.com/flywheel-io/public/fw-classification/fw-classification-profiles.git
